/* .notification-list .noti-icon::before {
    line-height: 70px;
}

.navbar-custom{
    max-height: 70px;
} */

.auth-error.invalid {
    color: red !important;
}

    /* add new css  */

.company-follow .btn-follow {
    width: 200px;
}

.btn.btn-save-post {
    border: 2px solid;
}
img.img-preview {
    width: 38%;
    max-width: inherit;
    height: inherit;
    object-fit: contain;
    margin-top: 10px;
}
