/* .notification-list .noti-icon::before {
    line-height: 70px;
}

.navbar-custom{
    max-height: 70px;
} */
:root {
    --dropzone-color: #5256ad;
}
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: none;
}
.spinner.loading {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.spinner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.spinner .spinner-border {
    display: none;
}

.spinner.loading  .spinner-border {
    display: inline-block;
}

.auth-error.invalid {
    color: red !important;
}

.form-handler .btn.btn-cancel,
.form-handler .btn.btn-update {
    display: inline-block
}

.form-handler:not(.is-store) .btn.btn-store,
.form-handler.is-store .btn.btn-del,
.form-handler.is-store .btn.btn-cancel,
.form-handler.is-store .btn.btn-update {
    display: none
}

    /* add new css  */

.company-follow .btn-follow {
    width: 200px;
}

.btn.btn-save-post {
    border: 2px solid;
}
img.img-preview {
    width: 38%;
    max-width: inherit;
    height: inherit;
    object-fit: contain;
    margin-top: 10px;
}

/*------drag and drop file input --------*/


.dropzone .dd-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dropzone-color);
    padding: 20px;
    border: 2px dashed #dee2e6;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.dropzone .dd-area.dd-active {
    background-color: #F2F8FF;
    border-color: var(--dropzone-color);
}

.dropzone .dd-area .dz-mesage {
    transition: all 0.1s linear;
}

.dropzone .btn.btn-browser-file{
    border-color: var(--dropzone-color) !important;
    background: var(--dropzone-color) !important;
}

.dropzone .dd-area .icon {
    font-size: 50px;
}

.form-group.invalid .dd-area {
    border-color: #f33a58 !important;
}

.dd-preview .file .item {
    display: flex;
    align-items: flex-start;
}

.dd-preview .file.image .item {
    flex-direction: column;
    align-items: center;
    /*width: 300px;*/
    margin: 0 auto;
}

.image-preview.avatar {
    padding: 20px;
    height: 300px;
    width: 300px;
    /* display: flex; */
}
.image-preview.cover {
    width: 100%;
    height: 100%;
}
.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.image-preview.avatar img {
    border-radius: 100%;
}
/*------End drag and drop file input --------*/

/*------ Social Network --------*/
.social-list-item.item-facebook {
    border-color: var(--primary);
    color: var(--primary);
}
.social-list-item.item-instagram {
    border-color: var(--danger);
    color: var(--danger);
}
.social-list-item.item-google {
    border-color: var(--danger);
    color: var(--danger);
}
.social-list-item.item-github {
    border-color: var(--secondary);
    color: var(--secondary);
}
.social-list-item.item-gitlab {
    border-color: var(--warning);
    color: var(--warning);
}
.social-list-item.item-linkedin {
    border-color: var(--info);
    color: var(--info);
}
.social-list-item.item-twitter {
    border-color: var(--info);
    color: var(--info);
}
/*------ End Social Network --------*/

/*box-timeline*/
.box-timeline .timeline-items {
    display: flex;
    align-items: baseline;
    width: 100%;
    position: relative;
}

.box-timeline .timeline-items .timeline-year {
    padding-right: 10px;
}

.timeline-items .timeline-year > span {
    min-width: 160px;
    color: var(--dark);
    text-align: center;
    display: inline-block;
}
.timeline-items .timeline-separation .timeline-icon {
    float: left;
    position: relative;
    left: -9px;
    top: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.timeline-separation::before {
    content: "";
    position: absolute;
    top: 31px;
    bottom: 0;
    width: 2px;
    background-color: #E0E6F7;
}

.timeline-items:nth-of-type(3n+3) .timeline-icon {
    color: var(--primary);
    background-color: rgba(54, 136, 252, 0.25) !important
}

.timeline-items:nth-of-type(3n+2) .timeline-icon {
    color: var(--info);
    background-color: rgba(68, 186, 220, 0.25) !important
}

.timeline-items:nth-of-type(3n+1) .timeline-icon {
    color: var(--success);
    background-color:rgba(66, 210, 157, 0.25) !important

}
.img-box {
    padding: 3px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: var(--white);
}
.img-box > img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.timeline-items .timeline-content {
    padding-left: 10px;
}

.timeline-items .timeline-action {
    display: flex;
}

.timeline-items .timeline-action > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
}
/*    end box timeline*/
